<div class="centered-app">
    <div class="container">
        <div class="row">
            <br />
            <form class="form" ng-submit="search()">
                <input class="offset-1 col-10" ng-model="query"></input>
            </form>
            <br />
            <br />
        </div>
        <div class="row">
            <div class="text-center">
                <div id="player"></div>
            </div>
            <br />
            <br />
        </div>

        <div class="row" ng-show="fetching || similar">
            <div class="tab">
                <div class="tab-nav">
                    <ul>
                        <li class="active"><a href="">Similar Artists</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <br />
                    <div class="container text-center">
                        <span ng-if="fetching">
                            <span style="font-size: 300%"><i class="fa fa-spinner spinner"></i></span>
                        </span>
                    </div>
                    <div class="container columns-3">
                        <div class="container fade" ng-repeat="artist in similar">
                            <div class="item">
                                <h3>
                                    <a class="clickable" ng-click="search(artist.sources[0].name)">{{artist.sources[0].name}}</a>
                                    <span class="pull-right clickable" ng-class="artist.showSimilar && 'color-fg' || 'color-sep'" ng-click="peek($index)"><i class="fa fa-link"></i></span>
                                </h3>
                                <div ng-show="artist.showSimilar" style="position: absolute; z-index: 1000">
                                    <div ng-if="artist.fetching">
                                        <p class="text-center">
                                            <span style="font-size: 300%"><i class="fa fa-spinner spinner"></i></span>
                                        </p>
                                    </div>
                                    <div ng-if="!artist.fetching">
                                        <h4>Similar artists</h4>
                                        <ul ng-if="artist.showSimilar">
                                            <li class="nobullet" ng-repeat="a in artist.similar | limitTo:6">
                                                <a class="clickable" ng-click="search(a.sources[0].name)">{{a.sources[0].name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="text-center" ng-class="artist.showSimilar && 'hidden'">
                                    <span ng-repeat="a in artist.sources | limitTo:2"><img ng-show="a.img" ng-src="{{a.img}}"></img></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
